#rpgst_button_panel_pin_div {
    font-size: 24px;
    display: inline;
    padding: 1px;
}

#rpgst_button_panel_pin_div {
    opacity: 0.5;
    transition: var(--animation-duration-2x);
}

#rpgst_button_panel_pin_div:hover,
#rpgst_button_panel_pin_div:has(:focus-visible) {
    opacity: 1;
}

#rpgst_button_panel_pin {
    display: none;
}

#rpgst_button_panel_pin:checked+label {
    display: inline;
}

#rpgst_button_panel_pin:checked+label .checked {
    display: inline;
}

#rpgst_button_panel_pin:checked+label .unchecked {
    display: none;
}

#rpgst_button_panel_pin:not(:checked)+label .checked {
    display: none;
}

#rpgst_button_panel_pin:not(:checked)+label .unchecked {
    display: inline;
}